img.car {
    height: 120px;
    max-width: initial;
    pointer-events: none;
    border-radius: 8px;
}

div.polaroid {
    width: 80%;
    background-color: rgb(243, 242, 242);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}
